body{
    font-family: 'DynaPuff', cursive;
}
.fondo-animado{
    background:linear-gradient(to right, #ffade0, #efe000);
    background-size:400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background{
    0%{
        background-position:0 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0 50%;
    }
}